body {
    -webkit-touch-callout: none; 
	margin: 0px;
	margin-top: 8px;
	
	font-family: Helvetica;
    font-size:1em;
}

h1 {
    overflow:visible;
	display: inline-block;
	
	padding:0;
	margin: 0;
	
	font-size:1.5em;
	font-variant:small-caps;
}

p{
	text-align: justify;
}

a{
	color: #E4E4E4;
	text-decoration: none;
}

.Testing{
	color: red;
}

table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
	height: 50px;
	width: 100%;
	
	background-color:#333333;
	border-collapse: collapse;
}

.NavButton {
	background-color:#333333;
	padding: 5px 0px;
	width: 33%;
	
	border-right: 1px solid grey;
	
	color: #E4E4E4;
	text-align: center;
	font-size:18px;
	font-variant:small-caps;
}

.ActivePage {
	background-color: grey;
	
	font-size:18px;
}

.AppLogo{
	float: left;
	display: inline-block;
	margin: -.2em 1em;
	padding: 5px 0px;
	
	font-variant:small-caps;
	color: #E4E4E4;
	font-size:1.25em;
	
	width: 30px;
	
	background-image: url('img/AppLogo.png'); 
}

.TopIcon{
	float: right;
	display: inline-block;
	margin: 0 1em;
	
	width: 55px;
	
	border-left: 0px;
}

.MapCanvas{
	margin-top: 10px;
	margin-bottom: 10px;
	width:100%;
	height: 550px;
}



