body {
	/*background-image: url("../img/BG.png");*/
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
	
    -webkit-touch-callout: none; 
	margin: 0px;
	margin-top: 0;
	
	font-family: Helvetica;
    font-size:1em;
	
	color: #E4E4E4;
	/*color: black;*/
}


h1 {
	outline: none;
	
	
	color:#d7912d;
	
    overflow:visible;
	display: inline-block;
	
	padding: 0;
	padding-top: .28em;
	margin: 0;
	
	font-size:1.5em;
	font-variant:small-caps;
}

h2 {
	outline: none;
	
	
	color:#d7912d;
	
    overflow:visible;
	display: inline-block;
	
	padding: 0;
	padding-top: .28em;
	margin: 0;
	
	font-size:1.1em;
	font-variant:small-caps;
}

h3 {
	outline: none;
	filter: alpha(opacity=100);
	opacity: 1;
	
	margin-top: 0;
	
	color:#d7912d !important;
	font-size: 1em;
}

h4 {
	outline: none;
	
	
	color:#d7912d;
	
    overflow:visible;
	display: inline-block;
	
	padding: 0;
	padding-top: .28em;
	margin: 0;
	
	font-size:1em;
	font-variant:small-caps;
}

p{
	text-align: justify;
	filter: alpha(opacity=100);
	opacity: 1;
	
	margin: .5em .5em;
	padding: .5em;
}

a:link, a:visited, a:active, a:hover {
	
	/*color: #E4E4E4;d7912d*/
	color:#d7912d !important;
	
	
	
	font-size:1em;
	text-decoration: none;
	text-shadow: none;
	
	width: 80%;
	
	background-color: transparent !important;
	border-color: transparent !important;
	
}
footer {
	/*background-color: #003300;*/
	
	text-align: center;
	position: fixed;
	width: 100%;
	bottom:0;
	
	padding: .7em;
}

footer button{
	text-align: center;
	font-weight: 700;
	
	border: 0;
	background-color: transparent;
}


html, body, #Map{
	height: 100%;
}

#Map, #Map *{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Solution for fixing map from http://stackoverflow.com/questions/21552308/set-content-height-100-jquery-mobile*/
#Map .ui-content{
	height: calc(100% - 4.5em);
}

html, body, #About, #Nearest, #Categories{
	height: 100%;
}

#About, #About *{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#Nearest, #Nearest *{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#Categories, #Categories *{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#About .ui-content{
	height: calc(100% - 6.5em);
}

#Nearest .ui-content{
	height: calc(100% - 6em);
}

#Categories .ui-content{
	height: calc(100% - 6.5em);
}

#Nearest{
	background-image: url("../img/BG.png");
	background-size: contain;
}

#Categories{
	background-image: url("../img/BG.png");
	background-size: contain;
}

#About{
	background-image: url("../img/BG.png");
	background-size: contain;
}

.ui-header{
	/*background-color: #003300;*/
	background-image: url("../img/HEADER.png");
	background-size: 100% 100%;
}

.ui-footer{
	/*background-color: #003300;*/
	background-image: url("../img/FOOTER.png");
	background-size: 100% 100%;
	
}

.ui-footer .ui-btn {
	
	background-image: url("../img/MAPFOOTER.png");
	background-size: 100% 100%;
	border: none;
	
	color:#d7912d;
}

.ContentBG{
	position: relative;
	margin-top: 0.2em;
	margin-left: auto;
	margin-right: auto;
	
	width: 95%;
	height: 99%;
	
	background-color: rgba(18, 18, 18, .5)/*#121212*/;
	/*filter: alpha(opacity=50);*/
	/*opacity: 0.5;*/
	border-radius: 15px;
	
	word-wrap: break-word;
	overflow: auto;
}

.InnerContent{
	position: relative;
	margin-top: .8em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0em;
	
	width: 95%;
	height: 93%;
	overflow: auto;
	
	filter: alpha(opacity=100);
	opacity: 1;
	
	border-radius: 10px;
	word-wrap: break-word;
}

table{
	margin-left: auto;
	margin-right: auto;
	margin-top: .1em;
	
	height: 1em;
	width: 100%;
	
	/*background-color:#333333;*/
	
	border-collapse: collapse;
}

th{
	text-align: justify;
	font-size: .8em;
	font-weight: normal;
}


table a:link,table a:visited,table a:active,table a:hover {
	
	/*color: #E4E4E4;d7912d*/
	color:#d7912d;
	
	
	
	font-size:1em;
	text-decoration: none;
	text-shadow: none;
	
	width: 80%;
	
	background-color: transparent !important;
	border-color: transparent !important;
	
}

.ListBuild table{
	margin-left: auto;
	margin-right: auto;
	margin-top: .1em;
	
	width: 95%;
	
	/*word-wrap: break-word;*/
	
	border-collapse: collapse;
}

.ListBuild td:nth-child(1){width:65%;}
.ListBuild td:nth-child(2){width:35%;}

.Activities {
	/*color: blue;*/
}

.NavButton {
	background-image: url("../img/NAVBUTTON.png");
	background-size: 100% 100%;
	padding: 0px 0px;
	width: 33%;
	
	
	/*color: #E4E4E4;#d7912d*/
	
	font-size:.8em;
	text-align: center;
	font-size: 1em;
	font-weight: 700;
	/*font-variant:small-caps;*/
	
	text-shadow: none;
	border-bottom: 1px solid #000;
}

.ActivePage {
	/*background-color: grey;*/
	color:#E4E4E4;
	
	font-weight: 1000;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	background-image: url("../img/INSETBUTTON.png");
	background-size: 100% 100%;
}



.AppLogo{
	float: left;
	display: inline-block;
	margin: -.2em 1em;
	padding: .4em 0;
	
	font-variant:small-caps;
	color: #E4E4E4;
	font-size:1.25em;
	
	width: 1.5em;
	
	/*background-image: url('../img/AppLogo.png'); */
}

.AboutLogo{
	float: left;
	display: inline-block;
	margin: -.2em 1em;
	padding: .5em 0;
	
	width: 1.9em;
	
}

.EventLogo{
	width: 1em;
}

.NavButton.TopIcon{
	/*background-image: url("../img/TOPICON.png");*/
	/*background-size: 100% 100%;*/
	background-image: none;
	
	color: #E4E4E4;
	
	float: right;
	display: inline-block;
	padding-top: 0.1em;
	margin: 0 1em;
	
	width: 3em;
	
	border-left: 0px;
}

.MapCanvas{
	margin: 0;
	width:100%;
	height: 100%;
}


/*Negate jquerycss*/
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

.ui-page.ui-body-c {
    /*background: url("../img/BG.png");*/
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;  
}

.ui-collapsible-themed-content .ui-collapsable-set{
	border: 0;
	border-collapse: collapse;
}

.ui-accordion-header-active {
	outline: none;
    border-bottom: none;
}

.ui-collapsible-content{
	padding: 0em .5em;
}

.ui-nosvg .ui-icon-minus:after {
    background-image: url(../img/MINUSICON.png);
	background-size:25px;
    width:20px;
    height:20px;
}
.ui-nosvg .ui-icon-plus:after {
    /*background: url("../img/MapIcon.png") no-repeat -5px !important;*/
	background-image: url("../img/PLUSICON.png");
	background-size:25px;
    width:20px;
    height:20px;
}

/*Solution for blue glow from: http://stackoverflow.com/questions/12606437/for-a-jquery-ui-button-how-can-i-remove-the-blue-glow-on-focus*/
*:focus {
    outline: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}